
body {
    background-color: #fff;
    margin: 0;
    
    color: #42b983;
    font-family:"Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  }
.main {
    width: 1000px;
    margin: 0 auto;
 }
.main h1 {
    text-align: center;
}
.gamecontainer {
    background-color: blueviolet;
    width: 90px;
    margin:0 auto;
}
.buttoncontainer {
    padding: 30px 0;
    width: 1000px;
    text-align: center;
    clear: both;
}
.gamecontainer div {
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #e6e4a9;
    float: left;
    box-sizing: border-box;
    padding: 5px;
    border:1px solid #f2f2f2;
}
.gamecontainer div.reveal {
    background-color:#d8d7c1;
}
.gamecontainer div[data-bomb="1"] {
    background-color: #f00;
}
